@font-face {
    font-family: "Segoe UI Regular";
    src: url("../fonts/SegoeUiReg/SegoeUI.eot");
    src: url("../fonts/SegoeUiReg/SegoeUI.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SegoeUiReg/SegoeUI.woff") format("woff"),
        url("../fonts/SegoeUiReg/SegoeUI.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI Light";
    src: url("../fonts/SegoeUiLight/SegoeUI-Light.eot");
    src: url("../fonts/SegoeUiLight/SegoeUI-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SegoeUiLight/SegoeUI-Light.woff") format("woff"),
        url("../fonts/SegoeUiLight/SegoeUI-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI Semibold";
    src: url("../fonts/SegoeUiSBold/SegoeUI-SemiBold.eot");
    src: url("../fonts/SegoeUiSBold/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SegoeUiSBold/SegoeUI-SemiBold.woff") format("woff"),
        url("../fonts/SegoeUiSBold/SegoeUI-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
